@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}


.active{
    @apply bg-blue-400 text-white border-blue-500;
}

@theme inline {
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

select, input:not([type="checkbox"]):not([type="radio"]), textarea {
    box-shadow: var(--shadow-input);
    @apply border border-gray-300 rounded-md px-3 py-2 outline-none hover:border-gray-400 focus:border-gray-400 transition duration-300;
}